.reviewbox {
    margin: 10px;
    padding: 20px 10px;
    box-shadow: #00000070 0px 0px 8px;
    border-radius: 10px;
}
.review-description button {
    border: none;
    padding: 4px;
    border-radius: 5px;
    font-family: 'Poppins';
    margin-left: 5px;
    margin-top: 4px;
}