.reviewbox {
    margin: 10px;
    padding: 16px 10px;
    border: 1px solid #9bb8b9;
    box-shadow: #3b3b3b82 0px 0px 10px;
    border-radius: 10px;
    background-color: #F5F9FC;

}
.review-description button {
    border: none;
    padding: 0px 4px;
    font-size: 11px;
    border-radius: 5px;
    font-family: 'Poppins';
    margin-left: 5px;
    margin-top: 4px;
}