
.takeVoiceBtn{
    position: fixed!important;
    right: 2%;
    bottom: 3%;
    padding: 20px 27px!important;
    font-size: 44px!important;
    border-radius: 100%!important;
    color: white;
    background-color: #1D6B6F!important;
    border: 2px solid #1D6B6F!important;
}