
.takeVoiceBtn{
    position: fixed!important;
    right: 2%;
    bottom: 3%;
    background-color: #1D6B6F!important;
}

@media only screen and(max-width:800px){
    .takeVoiceBtn{
        padding: 13px 10px;
        font-size: 26px;
    }
}