.bookingbox-left, .bookingbox-right {
    padding: 2px 12px;
    margin: 10px 0px;
}
.apt-name{
    margin: 0px;
}
.apt-desc{
    margin: 0px;
}
.booking-left-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.apt-status{
    text-transform: capitalize;
}
.booking-left-desc>p{
    margin: 12px 0;
}
.apt-price{
    margin: 0px;
}
.bookingbox-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.manage-all-bookings-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
@media only screen and (max-width:600px){
    .apt-name{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .booking-left-desc{
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
}