form.add-apartment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: auto;
}

@media only screen and (max-width:600px){
    form.add-apartment-form{
        width: 100%;
    }
}