@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    background-color: #ECF3F9;
    font-family: 'Poppins', sans-serif;
    color: #323231;
}
a,button{
    color:black;
    text-decoration: none;
}
.jbutton{
    background-color: #3d777a;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    color: white;
    font-family: poppins;
    border: none
}
.jsectionhead{
    font-size: 40px;
    text-align: center;
}
@media only screen and (max-width:600px){
    .jbutton{
        font-size: 13px;
    }
    .jsectionhead{
        font-size: 22px;
    }
}
/* #3D777A */

/* #ECF3F9 */