form.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: auto;
}
.sign-up-section{
padding:5% 0;
}

@media only screen and (max-width:600px){
    form.signup-form{
        width: 100%;
    }
}